*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body{
  background-color: #111;
}

.movies-card{
  background: "red";
}

.movies-img{
  border-radius: 10px;
}